.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-right: 4px;
  padding-bottom: 3px;
  padding-left: 29px;

  letter-spacing: 0.2px;
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-primary;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    &:not(.btn--disabled) {
      outline: none;
      background-color: $color-primary;
      color: $color-default-white;

      .btn__circle {
        background-color: $color-default-white;
      }

      svg {
        color: $color-primary;
        transform: rotate(45deg);
      }
    }
  }

  @include active {
    &:not(.btn--disabled) {
      background-color: $color-primary;
      color: rgba($color-default-white, 0.8);

      .btn__circle {
        background-color: $color-default-white;
      }

      svg {
        color: rgba($color-primary, 0.8);
        transform: rotate(45deg);
      }
    }
  }

  &--disabled {
    cursor: default;
    border-color: $color-mischka;
    color: $color-mischka;
    opacity: 0.8;

    .btn__circle {
      background-color: $color-mischka;
    }
  }

  @include vp-767 {
    font-size: 12px;

    padding-left: 20px;
  }
}

.btn__circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  min-height: 46px;
  margin-left: 30px;

  background-color: $color-primary;
  border-radius: 50%;

  @include vp-767 {
    min-width: 34px;
    min-height: 34px;
    margin-left: 20px;
  }
}

.btn svg {
  color: $color-default-white;
}
