.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu label {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  color: $color-primary;
  background-color: $color-default-white;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-primary;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
}

.dropdown-menu__circle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-left: 20px;

  background-color: $color-primary;
  border-radius: 50%;

  &::before {
    content: "";
    width: 18px;
    height: 10px;

    border-top: 2px solid $color-default-white;
    border-bottom: 2px solid $color-default-white;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 1.5px;

    background-color: $color-default-white;
  }
}

.dropdown-menu__list {
  max-height: 0;
  font-size: 0;
  background-color: $color-primary;

  transition: all 0.5s;
}

.dropdown-menu__item {
  // display: none;
}

.dropdown-menu input[type=checkbox]:checked ~ .dropdown-menu__list {
  max-height: 500px;
  font-size: 16px;
}
