.filter-tabs {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  column-gap: 30px;

  @include vp-1199 {
    column-gap: 8.5px;
  }

  @include vp-767 {
    overflow-x: scroll;

    column-gap: 13.5px;
    padding-bottom: 10px;
  }
}

.filter-tabs__button {
  background-color: $color-transparent;
  border-width: 1px;
  border-style: solid;
  border-color: $color-transparent;
  border-radius: 20px;
  opacity: 0.6;
  color: $color-primary;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1em;
  cursor: pointer;

  padding-top: 11.5px;
  padding-right: 26.5px;
  padding-bottom: 11.5px;
  padding-left: 26.5px;

  @include hover-focus {
    opacity: 1;
  }

  &--active {
    outline: none;
    opacity: 1;
    border-color: $color-primary;
  }

  @include vp-1199 {
    max-width: 160px;
    padding-top: 10.5px;
    padding-right: 21px;
    padding-bottom: 10.5px;
    padding-left: 22px;
  }

  @include vp-767 {
    font-size: 12px;

    padding-top: 8.5px;
    padding-right: 13px;
    padding-bottom: 6.5px;
    padding-left: 14px;
  }
}
