.main-footer {
  background-color: $color-additional-back;

  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;

  @include vp-767 {
    padding-top: 28.5px;
  }
}

.main-footer__nav {
  margin-bottom: 22px;
  flex-wrap: wrap;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.main-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;

  @include vp-1199 {
    max-width: 250px;
    margin-top: -35px;
    flex-direction: column;
    align-items: flex-start;
  }

  @include vp-767 {
    width: 90%;
    max-width: none;
    align-items: center;
    position: absolute;
    bottom: 84px;
  }
}

.main-footer__copyright {
  font-size: 14px;

  @include vp-1199 {
    opacity: 0.6;
    font-size: 12px;

    margin-top: 4px;
    order: 1;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

// .main-footer__privacy {
//   @include vp-1199 {
//     align-self: flex-start;
//   }
// }
