.main-header {
  background-color: $color-additional-back;

  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  min-height: 800px;

  &:has(.hero__slide--internship.swiper-slide-active) {
    .main-header__img--internship {
      opacity: 1;
    }

    .main-header__img--volunteering {
      opacity: 0;
    }

    .main-header__img--education {
      opacity: 0;
    }
  }

  &:has(.hero__slide--volunteering.swiper-slide-active) {
    .main-header__img--volunteering {
      opacity: 1;
    }

    .main-header__img--internship {
      opacity: 0;
    }

    .main-header__img--education {
      opacity: 0;
    }
  }

  &:has(.hero__slide--education.swiper-slide-active) {
    .main-header__img--education {
      opacity: 1;
    }

    .main-header__img--volunteering {
      opacity: 0;
    }

    .main-header__img--internship {
      opacity: 0;
    }
  }

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 18px;
    min-height: 568px;
  }
}

.main-header__container {
  display: flex;
  flex-direction: column;
  width: 86.2%;
  min-height: 100%;
  max-width: 1240px;
  margin: 0 auto;

  @include vp-1199 {
    width: 88.28%;
  }

  @include vp-767 {
    width: 90.7%;
  }
}

.main-header__img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  transition: all 0.5s;
}

.main-header__img--internship {
  opacity: 1;
}

.main-header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;

  background-color: rgba($color-primary, 0.2);
}

.main-header__nav {
  position: relative;
}

.main-header__logo {
  @include vp-767 {
    position: absolute;
    top: 1px;
    left: 1px;
  }
}

.main-header__slider-wrap {
  margin-top: auto;
}
