.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
    background-color: rgba(13, 29, 51, 0.4);
  }

  &__content {
    position: relative;

    width: 510px;
    padding: 53px 80px 60.4px;

    background-color: $color-default-white;
    border-radius: 16px;

    @include vp-1199 {
      padding: 56px 80px 59.4px;
    }

    @include vp-767 {
      padding: 37px 15px 40.4px;
      width: 100%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 29px;
    right: 28px;
    z-index: 1;

    width: 24px;
    height: 24px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 50%;
      content: "";
      width: 1px;
      height: 24.5px;

      background-color: $color-primary;

      @include vp-767 {
        height: 16px;
        right: auto;
      }
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    @include hover-focus {
      &::before,
      &::after {
        background-color: rgba($color-primary, 0.6);
      }
    }

    @include vp-767 {
      width: 16px;
      height: 16px;
      top: 20px;
      right: 20px;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}
