.news {
  padding-top: 124px;

  @include vp-1199 {
    padding-top: 99px;
  }

  @include vp-767 {
    padding-top: 68px;
  }
}

.news h2 {
  color: $color-primary;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;

  width: 86.2%;
  max-width: 1240px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 46px;
  margin-left: auto;

  @include vp-1199 {
    font-size: 34px;

    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 1em;

    margin-bottom: 28px;
  }
}

.news__tabs-container {
  display: flex;
  justify-content: center;
  width: 86.2%;
  max-width: 1240px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 39.5px;
  margin-left: auto;

  @include vp-1199 {
    width: 88.28%;
    margin-bottom: 31px;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 4.65%;
    margin-bottom: 14px;
  }
}

.news__slider {
  padding-right: 22px !important;
  width: calc(100% + 22px) !important;

  @include vp-1199 {
    padding-right: 0 !important;
    width: 100% !important;
  }
}

.news__slide {
  width: 23%;

  // @include vp-1199 {
  //   width: 31% !important;
  // }

  // @include vp-999 {
  //   width: 30.5% !important;
  // }

  // @include vp-767 {
  //   width: 31.3% !important;
  // }
}

.news__slide--last .news-card__img img {
  @include vp-767 {
    min-height: 240px;
    height: 240px;
  }
}

.news__slide:nth-child(2n) {
  @include vp-767 {
    height: 50%;
  }
}

.news__slide--big {
  width: 48.7%;


  // @include vp-1199 {
  //   width: 31% !important;
  // }

  // @include vp-999 {
  //   width: 30.5% !important;
  // }

  // @include vp-767 {
  //   width: 31.3% !important;
  // }
}

.news__slider-controls {
  position: relative;
  margin-top: 40px;

  @include vp-1199 {
    margin-top: 30px;
  }
}

.news__pagination.swiper-pagination {
  position: relative;
  bottom: 0;
  left: 10px;
  width: auto;
  margin: 0 auto;

  user-select: none;
}

.news__pagination.swiper-pagination .swiper-pagination-bullet {
  margin-right: 20px;
  margin-left: 0;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;
  color: $color-primary;
  background-color: $color-transparent;

  @include hover-focus {
    outline: none;
    opacity: 1;
    border: 1px solid $color-primary;
  }

  @include active {
    opacity: 1;
    color: $color-default-white;
    background-color: $color-endeavour;
  }
}

.news__pagination.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  color: $color-default-white;
  background-color: $color-primary;
}

.news__slider-buttons {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  justify-content: space-between;
}
