.site-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30.5px;
  row-gap: 30px;
  align-items: center;
  max-width: 750px;

  list-style-type: none;

  @include vp-1199 {
    column-gap: 15.5px;
    row-gap: 15px;
    max-width: 540px;
  }

  @include vp-767 {
    width: 290px;
    column-gap: 26.5px;
    justify-content: center;
  }
}

.site-list__item {
  @include vp-767 {
    display: inline-flex;
  }
}

.site-list__link {
  display: inline-flex;
  max-width: 201px;

  line-height: 1em;

  @include hover-focus {
    color: $color-primary;
  }

  @include active {
    color: $color-endeavour;
  }

  @include vp-767 {
    font-size: 14px;

    padding-right: 2px;
    padding-left: 2px;
  }
}
